
// color
$color-primary: #000;
$color-sec: rgb(229, 9, 20);
$color-light: rgb(255,255,255);
$color-black: #060016;
$color-grey: rgb(45, 45, 45); 
$color-rgb: rgba(255, 255, 255, 0.7);

// fonts-styles
$font-lg: 3rem;
$font-md: 2.625rem;
$font-rg: 1.5rem;
$font-sm: 1.25rem;
$font-xsm: 0.875rem;

// font-weights
$font-weights:(
    "regular": 400,
    "medium": 500,
    "bold": 900,
);

// accordion icon


// border-radius
$radius-md: 5px;